body {
    background-color: rgb(22, 22, 22);
 
}


section{
    color: rgb(5, 5, 5);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fcf5f5;
    text-align: center;
    padding: 10px;
}

#productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.producto {
    width: 300px;
    border: 1px solid #f7f6f6;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
}

.precio {
    color: #f00;
    font-weight: bold;
}

footer {
    background-color: #575555;
    color: #1c1b1b;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

